.todo_card{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 500px;
    min-height: 50px;
    background-color: aliceblue;
    width: 100%;
}
.todo_card__header {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 700;
    color: #b99f9f;
}
.header_arrow {
    transition: transform 500ms ease-in-out;
    cursor: pointer;
    font-size: 20px;
}

.header_arrowR  {
    transform: rotate(180deg); 
}
.todo_card__body{
    padding: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: double;
}